<% layout("../layouts/boilerplate") %>
<body>
    <div class="col-md-6 card p-4 shadow-grey-all forms"  >
     <form method="POST" action = "/listings/<%= listing._id %>?_method=PUT">
        <label htmlfor = "title" class="form-label">Title : </label>
        <input placeholder= "" id = "title" name ="listing[title]"value = "<%=listing.title%>" class="form-control">
         <label htmlfor = "description" class="form-label">Description : </label>
        <input placeholder="" id = "description" name = "listing[description]" value = "<%=listing.description%>" class="form-control">
         <label htmlfor = "image" name = "image" class="form-label">Imageurl : </label>
        <input placeholder="enter image" id = "image" name = "listing[image]" value = "<%=listing.image%>" class="form-control"> 
         <label htmlfor = "price" name = "price" class="form-label">Price : </label>
        <input placeholder="<%=listing.price%>" id = "price" name = "listing[price]" value = "<%=listing.price%>" class="form-control">
         <label htmlfor = "location" name = "location" class="form-label">Location : </label>
        <input placeholder="" id = "location" name = "listing[location]" value = "<%=listing.location%>" class="form-control">
         <label htmlfor = "country" name = "country" class="form-label">Country : </label>
        <input placeholder="" id = "country" name = "listing[country]" value = "<%=listing.country%>" class="form-control">
        <button type = "submit" class = "btn btn-dark btn-col">Edit</button> 
    </form>
    </div>
</body>
</html>